<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS News </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
<div class="header__logo">
    <a href="/">Node.Js News</a>
</div>
<div class="header__search">
    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news">
        <input type="submit" value="Search">
    </form>
</div>
</header> 
<div class="wrapper">
    <div class="news">
        <% if(contents != null) { %>
        <% contents.forEach(function(content, index) { %>
            <a href="<%- content.id %>" class="news__card">
                <img src="<%- content.thumbnail_url %>" alt="<%- content.title %>">
                <h2><%- content.title.rendered %></h2>
                <p><%- content.excerpt.rendered %></p>
            </a>
        <% }) %>
        <% } else { %>
            No posts found.
        <% } %>

    </div>
</div>  

</body>
</html>